@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-terciaria: #805D93;
    --cor-secundaria: black;
    --cor-primaria: rgba(246, 246, 246, 1);

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

/*RESET CSS*/
* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 60px;
}

.menu__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
   
}

.menu__link:hover {
    color: var(--cor-primaria);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
}

.texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
    
}

.titulo-principal {
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 56px;
    
}

.paragrafo-principal {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-primaria);
    line-height: 36px;
    
}

span {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
    color: var(--cor-terciaria);
}

/*POSICIONAMENTO DOS BOTÕES*/
.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 5%;
}

/*ESTILIZAÇÃO DOS BOTÕES*/
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    width: 50%;
    text-align: center;
    border: 1px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 16px;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cor-primaria);
}

/*EFEITO AO PASSAR MOUSE BOTÕES*/
.botao:hover {
    background-color: #272727;
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
}


strong {
    color: var(--cor-terciaria);
}

.imagem-principal {
    border-radius: 20px;
    width: 40%;
    border: 8px solid var(--cor-terciaria);
}

.imagem-principal:hover {
    border: 8px solid var(--cor-primaria);
}

.rodape {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    
    padding: 24px;
    text-align: center;
}

@media (max-width: 1000px ) {

    .cabecalho {
        padding: 10%;
    }

    main {
        flex-direction: column-reverse;
        gap: 82px;
    }

    .menu {
        justify-content: center;
    }

    .texto {
        width: 608px;
    }

}


/* MEDIA QUERY PARA CELULAR */
@media (max-width: 480px) {
    .cabecalho {
        padding: 10%;
    }

    main {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 82px;
    }

    .menu {
        justify-content: center;
    }

    .texto {
        width: auto;
        gap: 40px;
        text-align: center;
    }

    .imagem-principal {
        width: 70%;
    }

    .rodape {
        padding: 16px;
    }
}

@media (max-width: 430px) {
    .cabecalho {
        padding: 10%;
    }

    main {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 82px;
    }

    .menu {
        justify-content: center;
    }

    .texto {
        width: auto;
        gap: 40px;
        text-align: center;
    }

    .imagem-principal {
        width: 70%;
    }

    .rodape {
        padding: 0;
    }

    .menu__link {
        text-decoration: none;
        font-family: var(--fonte-secundaria);
        font-weight: 600;
        font-size: 0.8rem;
        color: var(--cor-terciaria);
       
    }
}

/* MEDIA QUERY PARA TABLETS */
@media (max-width: 800px) {
    .cabecalho {
        padding: 10%;
    }

    main {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 82px;
    }

    .menu {
        justify-content: center;
    }

    .texto {
        width: auto;
        gap: 40px;
        text-align: center;
    }

    .imagem-principal {
        width: 70%;
    }
}
